# Text Data Generation and Manipulation
# ------------------------------------------------------------------------------
googletrans==4.0.0rc1  # https://pypi.org/project/googletrans/4.0.0rc1/  # Free Google Translate API for Python. Translates totally free of charge

# Data Generation and Manipulation
# ------------------------------------------------------------------------------
pandas==1.4.1  # https://pypi.org/project/pandas/1.4.1/  # Powerful data structures for data analysis, time series, and statistics
matplotlib==3.5.1  # https://pypi.org/project/matplotlib/3.5.1/  # Python Plotting package
seaborn==0.11.2  # https://pypi.org/project/seaborn/0.11.2/  # Statistical Visualization tool

# Progress Measurement
# ------------------------------------------------------------------------------
tqdm==4.62.3  # https://pypi.org/project/tqdm/4.62.3/  # Fast, Extensible Progress Meter